* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(80, 12, 0);
    color: azure;
}

header {
    padding: 16px;
    display: flex;
    background-color: rgb(98, 7, 7);
    max-width: auto;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 42px;
    font-weight: normal;
    margin-left: 20px;
}

header div li {
    display: inline;
    margin-right: 20px;
    font-size: 18px;
}

header div li a {
    text-decoration: none;
    color: azure;
}

img {
width: 100%;
}

#jogos-fav .lista-jogos-filmes ul li,
#jogos-fav .lista-jogos-filmes ul li p,
#jogos-fav .lista-jogos-filmes ul li h3,
h2 {
    padding: 8px;
    /* margin-bottom: 16px; */
}

.lista-jogos-filmes {
    padding: 8px;
    width: 100%;
}

#jogos-fav div ul li,
#filmes-fav div ul li {
    width: 30%;
    padding: 8px;
}

#jogos-fav div ul,
#filmes-fav div ul {
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    list-style: none;
}
